@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <p>Loading...</p>
    </LoggingIn>
    <CompletingLoggingIn>
        <p>Almost done...</p>
    </CompletingLoggingIn>
    <LogInFailed>
        <p>Login failed. Please try again.</p>
    </LogInFailed>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
