@page "/"

@attribute [AllowAnonymous]

<h1>Welcome to PokerTime!</h1>

<p>
	PokerTime is the best way for you and your friends to keep track of your poker tournament. Create your own custom blind level structures to suit your needs!
	Email a link to your friends so they can view the tournament timer directly on their phones!
</p> 


