@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<style>
    .sidebar-main {
        background-image: linear-gradient(1deg, #272b30 25%, rgb(187 0 0));
    }
</style>

<div class="page">
    <div>
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay /> &nbsp; PokerTime
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<footer>
    <br/>
    &copy; 2021 PokerTime Inc. 
    <br />
    Version 0.2
</footer>

@code{
    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCss.SetBootstrapCss("Slate", "4.3.1");
        }
        catch(Exception)
        {
            isServerSide = true;
        }
    }

}


