
/*Basic HTML Stuff*/

@font-face {
    font-family: Teko;
    src: url(../fonts/Teko-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: monserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50pt;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 40pt;
    line-height: .88;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30pt;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 2px 0px rgb(140 0 0);
    font-family: Teko;
}

footer{
    text-align:center;
}

body{
    font-family:Montserrat;
}

.table-top {
    background-color: #3a3f44;
    font-size: 13pt;
    font-weight: bold;
    color: white;
    font-family: monserrat-bold;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

.list-item {
    text-align: center;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
    padding: 10px;
    display: flex;
    align-items: center;
}

.list-item-btns {
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    margin: 2px;
    font-size: 8pt;
}

.spinner-container {
    height: 75px;
    position: relative;
}

    /*Forms*/

.textbox {
    display: block;
    height: 25px;
    padding: 0.25rem 0.25rem;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
    color: #52575C;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-label {
    display: inline-block;
    margin-bottom: 1px;
    font-size: small;
}

.center-button {
    padding: 10px;
}

.add-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Menu*/

.sidemenu {
    background-image: linear-gradient( 1deg, #272b30 25%, rgb(187 0 0));
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

/*Invitee*/

.invitee-btns {
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    margin: 2px;
    font-size: 8pt;
}

.invitee-current {
    border-radius: 5px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.invitee-prior {
    border-radius: 5px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.invitee-add-btn {
    padding: 0.5rem .75rem;
    font-size: 10pt;
}

.invitee-submit-buttons {
    padding: 7px;
    margin: 10px;
    font-size: 11pt;
}

/*Tournament*/

.currentblind {
    text-align: center;
    font-size: 30pt;
}

.nextblindlevel {
    text-align: center;
    font-size: 15pt;
}

.start-button-container {
    height: 75px;
    position: relative;
}

.start-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.end-tournament-button-container {
    height: 75px;
    position: relative;
}

.end-tournament-btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Events*/

.event-item-btns {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-add-btn-container {
}

.event-add-btn {
    padding: 0.5rem .75rem;
    font-size: 10pt;
}



/*Structures*/

.bottom-btn-container {
    margin-top: 10px;
}

.bottom-btn {
    padding: 0.5rem .75rem;
    font-size: 10pt;
}

.structure-table-top {
    font-size: 10pt;
    display: flex;
}


/*Edit Structure*/

.edit-structure-table-top {
    font-size: 9pt;
    display: flex;
    align-items: center;
}

.edit-structure-table-top-item {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.edit-structure-textbox {
    padding-right: 2px;
    padding-left: 2px;
}

.edit-structure-level-no {
    font-size: 10pt;
    width: 20%;
    margin-left: 0px;
    max-width: fit-content;
}

.edit-structure-name-row {
    margin-bottom: 10px;
}

.edit-structure-form-label {
    font-size: 8pt;
    margin-bottom: 3px;
    display: flex;
}

.blind-level-head {
    font-size: 8pt;
    display: flex;
    padding: 2px;
    text-align: left;
    background-color: #4a4a4a;
    justify-content: flex-start;
}

.blind-level-list-item {
    padding-bottom: 10px;
    padding-top: 2px;
}

.blind-level-item-btns {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.structure-submit-buttons {
    padding: 7px;
    margin: 10px;
    font-size: 11pt;
}

/*Host*/

.host-labels {
    font-size: 9pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

.host-items {

}

.host-btns {
    padding: 7px;
    margin: 10px;
    font-size: 11pt;
}
